@use "../../src/sass/global";

.ystdb-heading {
	position: relative;

	&.ys-is-font-responsive {

		.ystdb-heading__text {

			@include global.media-breakpoint-down(md) {
				font-size: var(--ys-font-mobile);
			}

			@include global.media-breakpoint-between(md, lg) {
				font-size: var(--ys-font-tablet);
			}

			@include global.media-breakpoint(lg) {
				font-size: var(--ys-font-desktop);
			}
		}
	}

	.ystdb-heading__text.is-clear-style:not([class*="is-style-ystdtb"]) {
		position: relative;
		margin: 0;
		padding: 0;
		border: 0;
		background: none;
		font-weight: 400;
		box-shadow: none;

		&::before,
		&::after {
			display: none;
		}

		&:not(.has-text-color) {
			color: inherit;
		}
	}
}

.ystdb-heading__container {

	p {
		margin: 0;
	}
}

/**
 * サブテキスト
 */
.ystdb-heading__subtext {
	display: block;
	line-height: 1.2;

	&::before {
		content: attr(data-text);
		speak: none;
	}

	&:not(.has-font-size) {
		font-size: 14px;
	}

	&:not(.has-color) {
		color: var(--font-gray);
	}

	&.ys-is-font-responsive {

		@include global.media-breakpoint-down(md) {
			font-size: var(--ys-font-mobile);
		}

		@include global.media-breakpoint-between(md, lg) {
			font-size: var(--ys-font-tablet);
		}

		@include global.media-breakpoint(lg) {
			font-size: var(--ys-font-desktop);
		}
	}
}

// 親にテキストカラーが設定されているとき
.has-text-color {

	.ystdb-heading__subtext {

		&:not(.has-color) {
			color: currentcolor;
		}
	}
}

.ystdb-heading__line {
	display: block;

	@at-root {

		.has-text-align-left & {
			margin-right: auto;
		}

		.has-text-align-center & {
			margin-right: auto;
			margin-left: auto;
		}

		.has-text-align-right & {
			margin-left: auto;
		}
	}

	+ .ystdb-heading__text {
		margin-top: 0;
	}
}
