@import "block";

[data-type="ystdb/heading"] {

	.ystdb-heading__editor {
		margin-top: 28px;
		margin-bottom: 28px;
	}
}

.ystdb-heading__subtext-edit {
	line-height: 1;
}

.ystdb-heading__subtext-textarea {
	display: block;
	width: 100% !important;
	background-color: transparent;
	overflow: hidden !important;

	&:focus {
		padding: 0;
		border: 0;
		outline: unset;
		box-shadow: none;
	}
}
