@import "block";


.ystdb-fa-icon__select--no-icon {
	width: 200px;
	max-width: 100%;
	margin: 0 auto;
	padding: 2rem;
	background-color: #eee;
	color: #666 !important;
	text-align: center !important;
}

.ystdb-fa-icon__select-start {

	.components-panel__body {
		border: 0;
	}

	.components-panel__body-title {
		display: none;
	}

	.rfipdropdown {
		left: 50%;
		transform: translateX(-50%);
	}

	.rfipbtn__icon--empty {
		white-space: nowrap;
	}
}

.ystdb-fa-icon__link-label {
	color: #666 !important;
	font-size: 0.8em;
	text-align: left !important;
}
