.ystdb-btn-selector__clear {
	margin-top: 0.5rem;
}

.ystdb-btn-selector {
	display: flex;
	flex-wrap: wrap;

	button {
		display: block;
		margin-right: 0.25rem;
		margin-bottom: 0.25em;
		text-align: center;
	}
}
