.ystdb-info__small {
  display: block;
  font-size: .7rem;
  color: $color__text-light;
}

.ystdb-info__label {
  display: block;
  margin: .5rem 0 .25rem;
}
.ystdb-info__bold {
  font-weight: bold;
}