.ystdb-inspectorcontrols {

	.components-base-control__label {
		font-weight: 600;
	}

	.components-base-control__field .components-base-control__field {

		.components-base-control__label {
			font-weight: 400;
		}
	}
}

.ystdb-inspectorcontrols__horizontal-radio {

	.components-radio-control__option {
		display: inline-block;
		margin-right: 1rem;

		&:last-child {
			margin-right: 0;
		}

		.components-radio-control__input {
			margin-right: 0.25rem;
		}
	}
}

.ystdb-inspectorcontrols__disablecustomfont {

	.components-range-control__number {
		display: none;
	}
}

.ystdb-inspector-controls__label {
	margin: 0.5rem 0 0.25rem;
	font-weight: 600;
}

.ystdb-inspector-controls__dscr {
	font-size: 0.8em;
	color: $color__text-light;
	font-weight: 400;
}
