.ystdb-inspectorcontrols {
  .components-base-control__label {
	font-weight: $font__weight_bold;
  }

  .components-base-control__field .components-base-control__field {
	.components-base-control__label {
	  font-weight: 400;
	}
  }
  .components-panel__body {
	&.is-opened {
	  > .components-panel__body {
		margin-right: -16px;
		margin-left: -16px;
		&:not(.is-opened) {
		  margin-bottom: -16px;
		}
	  }
	}
  }

  .dark-focal-point-picker {
	.components-focal-point-picker-wrapper {
	  background-color: #313131;
	}
  }
}

.ystdb-inspectorcontrols__horizontal-radio {
  .components-radio-control__option {
	display: inline-block;
	margin-right: 1rem;

	&:last-child {
	  margin-right: 0;
	}

	.components-radio-control__input {
	  margin-right: 0.25rem;
	}
  }
}

.ystdb-inspectorcontrols__disablecustomfont {
  .components-range-control__number {
	display: none;
  }
}

.ystdb-inspector-controls__label {
  margin: 2rem 0 0.25rem;
  font-weight: $font__weight_bold;

  &:first-of-type {
	margin-top: .5rem;
  }
}

.ystdb-inspector-controls__dscr {
  color: $color__text-light;
  font-size: 0.8em;
  font-weight: 400;

  &.margin-bottom {
	margin-bottom: 8px;
  }
}

.ystdb-inspector-controls__columns {
  display: flex;
  align-items: center;

  > * {
	margin-right: .5em;

	&:last-child {
	  margin-right: 0;
	}
  }

  .is-grow {
	flex-grow: 1;
  }

  + .ystdb-inspector-controls__columns {
	margin-top: 0.5em;
  }

  .components-base-control,
  .components-base-control__field {
	margin-bottom: 0 !important;
  }
}

.ystdb-inspector-controls__horizon-buttons {
  display: flex;
  width: 100%;

  &.is-center {
	align-items: center;
  }

  > button {
	display: block;
	margin-right: 0;
	border-radius: 0;
	width: 100%;
	border: 1px solid var(--wp-admin-theme-color);
	box-shadow: none !important;
	text-align: center;

	&:not(:last-child) {
	  border-right: 0;
	}

	&:first-child {
	  border-radius: 4px 0 0 4px;
	}

	&:last-child {
	  border-radius: 0 4px 4px 0;
	}
  }
}

.ystdb__preset-select-buttons {
  > button {
	display: block;
	width: 100%;
	padding: 1em;
	height: auto;
	border: 1px solid var(--wp-admin-theme-color);
	box-shadow: none !important;

	&:nth-child(n+2) {
	  border-top: 0;
	}
  }

  .is-block {
	display: block;
  }

  .is-flex {
	display: flex;
  }
}

.ystdb__design-select {
  > button {
	display: block;
	width: 100%;
	padding: 1.5em 1em;
	margin-top: 1.5em;
	height: auto;
	border: 0;
	border-radius: 0.5em;
	outline: none;
	box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0 !important;
	transition: background-color .3s;

	&:hover,
	&:focus {
	  background-color: $color__bg-gray-light;
	}
  }

  .is-block {
	display: block;
  }

  .is-flex {
	display: flex;
  }
}

.ystdb-inspector-controls__toggle-list {
  .components-toggle-control {
	margin-bottom: 8px;
  }
}




@import "../../../js/components/responsive-range/control";
