.ystdb-inspectorcontrols {
  .components-base-control__label {
    font-weight: bold;
  }

  .components-base-control__field .components-base-control__field {
    .components-base-control__label {
      font-weight: normal;
    }
  }
}

.ystdb-inspectorcontrols__horizontal-radio {
  .components-radio-control__option {
    display: inline-block;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    .components-radio-control__input {
      margin-right: .25rem;
    }
  }
}

.ystdb-inspectorcontrols__disablecustomfont {
  .components-range-control__number {
    display: none;
  }
}

.ystdb-inspector-controls__label {
  margin: .5rem 0 .25rem;

  .ystdb-inspector-controls__dscr {
    font-size: .9em;
    color: $color__text-light;
  }
}
