@use "../../global";

.ystdb-component-notice {
  background: #fff;
  border: 1px solid global.$color__border-gray;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(#000, 0.04);
  margin: 1em 0;
  padding: .25em .75em;
  color: global.$color__notice-text;

  &.is-info {
	border-left-color: global.$color__notice-info;
  }

  &.is-success {
	border-left-color: global.$color__notice-success;
  }

  &.is-warning {
	border-left-color: global.$color__notice-warning;
  }

  &.is-error {
	border-left-color: global.$color__notice-error;
  }
}
