.ystd-component__icon-select {

	* {
		box-sizing: border-box;
	}
}

.ystd-component__icon-select,
.ystd-component__icon-select__icon-list {

	.ys-icon {
		&:not(.sns-icon) svg {
			fill: none;
			stroke: currentcolor;
		}

		&.sns-icon {
			width: 1.6em;
			height: 1.6em;
		}
	}
}
.ystd-component__icon-preview {
	.ys-icon {
		max-height: 100%;
		max-width: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		line-height: 1;
		vertical-align: -.25em;

		svg {
			display: block;
			width: 90%;
			height: 90%;
		}
	}
}
.ystd-component__icon-select__popover {

	.components-popover__content {
		width: 100%;
	}
}
