#ystdb-option {
  animation: ystdbMenuShow 1.5s;
  animation-fill-mode: both;
}

@keyframes ystdbMenuShow {
  0% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}

.uk-tab-left {
  font-size: 14px;

  > * {
	> a {
	  text-align: left;
	  border-right: 2px solid transparent;
	  border-bottom: none;
	}
  }
}

.uk-tab {
  > .uk-active {
	> a {
	  border-color: $color__ystd_blue;
	}
  }
}

.uk-radio:checked::before {
  background-color: #fff;
}

.notice p {
  margin: .5em 0;
}

.uk-card-default {
  background: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.uk-card-body {
  padding: 40px 40px;
}
