.ystdb-custom-heading-group {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	gap: 0.5em;

	&:where(.is-horizontal) {
		flex-direction: row;
		align-items: baseline;
	}

	> :where(.ystdb-custom-heading) {
		margin: 0;
		padding: 0;
	}

	> :where(.ystdb-custom-heading-sub) {
		margin: 0;
		padding: 0;
	}
}

:where(
		.ystdb-custom-heading,
		.ystdb-custom-heading-sub,
		.ystdb-custom-heading-group
	).has-background {
	padding: 0.5em;
}

.ystdb-custom-heading {

	&:where(.has-text-align-left) {
		text-align: left;
	}

	&:where(.has-text-align-center) {
		text-align: center;
	}

	&:where(.has-text-align-right) {
		text-align: right;
	}
}
