.ystdb-custom-heading {
	&:where(.has-text-align-left) {
		text-align: left;
	}

	&:where(.has-text-align-center) {
		text-align: center;
	}

	&:where(.has-text-align-right) {
		text-align: right;
	}

	&:where(.is-clear-style:not([class*="is-style-ystdtb"])) {
		position: relative;
		margin: 0;
		padding: 0;
		border: 0;
		background: none;
		font-weight: 400;
		box-shadow: none;

		&::before,
		&::after {
			display: none;
		}

		&:where(:not(.has-text-color)) {
			color: inherit;
		}
	}
}
