@import "foundation/variable";

@mixin controlsLabel($i) {
	padding: 0.25em 0.5em;
	background-color: $color__ystd_blue;
	color: #ffffff;

	@if $i != 1 {
		margin-top: 3em;
	}
}


/**
 * インラインスタイル
 */
@for $i from 1 through 3 {
	#customize-control-ystdb_inline_style_label_#{$i} {
		label {
			@include controlsLabel($i);
		}
	}
}
#customize-control-ystdb_inline_style_larger_label,
#customize-control-ystdb_inline_style_smaller_label {
	label {
		@include controlsLabel(2);
	}
}

/**
 * 吹き出し画像用
 */
@for $i from 1 through 6 {
	#customize-control-ystdb_balloon_image_label#{$i} {
		label {
			@include controlsLabel($i);
		}
	}

	#customize-control-ystdb_balloon_image_#{$i} {
		img {
			max-width: 100px;
			border-radius: 50%;
		}
	}
}
