@use "../../src/sass/global";
@use "sass:math";
@use "mixin";

/**
 * Columns Wrap
 */
.ystdb-columns-wrap {
  + .ystdb-columns-wrap {
	margin-top: 0;
  }
}


/**
 * Columns
 */
.ystdb-columns {
  display: flex;
  flex-wrap: wrap;

  &.is-no-margin {
	margin-right: 0;
	margin-left: 0;

	.ystdb-column {
	  margin: 0;
	}
  }

  @include mixin.column();

  @include global.media-breakpoint(md) {
	@include mixin.column("tablet");
  }
  @include global.media-breakpoint(lg) {
	@include mixin.column("pc");
  }


  &.is-reverse {
	flex-direction: row-reverse;

	@include mixin.column("", true);

	@include global.media-breakpoint(md) {
	  @include mixin.column("tablet", true);
	}
	@include global.media-breakpoint(lg) {
	  @include mixin.column("pc", true);
	}
  }

  &.is-vertically-aligned-top {
	> .ystdb-column > .ystdb-column-block-container {
	  justify-content: flex-start;
	}
  }

  &.is-vertically-aligned-center {
	> .ystdb-column > .ystdb-column-block-container {
	  justify-content: center;
	}
  }

  &.is-vertically-aligned-bottom {
	> .ystdb-column > .ystdb-column-block-container {
	  justify-content: flex-end;
	}
  }

  &.is-vertically-aligned-last {
	> .ystdb-column > .ystdb-column-block-container {
	  > *:nth-last-child(2) {
		margin-bottom: auto;
	  }
	}
  }

  &.is-horizontally-aligned-center {
	justify-content: center;
  }

  &.is-horizontally-aligned-right {
	justify-content: flex-end;
  }

  &.is-horizontally-aligned-between {
	justify-content: space-between;
  }
}


/**
 * Column
 */

.ystdb-column-block-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > * {
	margin-top: 1em;
	margin-bottom: 0;

	&:first-child {
	  margin-top: 0;
	}
  }

  p:empty {
	display: none;
  }
}

_:-ms-lang(x)::-ms-backdrop,
.ystdb-column-block-container {
  display: block;
}

.ystdb-column {
  margin-left: 0;
  margin-bottom: 2rem;
  min-width: 0;

  &.has-shadow {
	margin-bottom: 2rem;
	box-shadow: 0 3px 15px rgba(189, 195, 199, 0.7);
  }

  &.is-padding-large {
	padding: 1.5rem;

	/* 幅広画像の特別処理 */
	.wp-block-image.alignwide {
	  margin-right: -1.5rem;
	  margin-left: -1.5rem;
	  padding-right: 0;
	  padding-left: 0;

	  &:first-child {
		margin-top: -1.5rem;
	  }
	}
  }

  &.is-padding-small {
	padding: 1rem;

	/* 幅広画像の特別処理 */
	.wp-block-image.alignwide {
	  margin-right: -1rem;
	  margin-left: -1rem;
	  padding-right: 0;
	  padding-left: 0;

	  &:first-child {
		margin-top: -1rem;
	  }
	}
  }
}
