.ystdb-column-block-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	> * {
		margin-top: 1em;

		&:first-child {
			margin-top: 0;
		}
	}
}

_:-ms-lang(x)::-ms-backdrop,
.ystdb-column-block-container {
	display: block;
}

.ystdb-column {
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 2rem;

	&.has-shadow {
		box-shadow: 0 3px 15px rgba(189, 195, 199, 0.7);
		margin-bottom: 2rem;
	}

	&.is-padding-large {
		padding: 1.5rem;

		/* 幅広画像の特別処理 */
		.wp-block-image.alignwide {
			padding-right: 0;
			padding-left: 0;
			margin-right: -1.5rem;
			margin-left: -1.5rem;

			&:first-child {
				margin-top: -1.5rem;
			}
		}
	}

	&.is-padding-small {
		padding: 1rem;

		/* 幅広画像の特別処理 */
		.wp-block-image.alignwide {
			padding-right: 0;
			padding-left: 0;
			margin-right: -1rem;
			margin-left: -1rem;

			&:first-child {
				margin-top: -1rem;
			}
		}
	}
}

.ystdb-columns {
	display: flex;
	flex-wrap: wrap;
	margin-right: -1rem;
	margin-left: -1rem;

	.ystdb-column {
		min-width: 0;
	}

	@for $i from 1 through 6 {

		&.has-#{$i}-columns {

			.ystdb-column {
				flex: 0 0 calc(#{(100% / $i)} - 2rem);
				width: calc(#{(100% / $i)} - 2rem);
			}
		}
	}

	@for $i from 1 through 6 {

		@include media-breakpoint(md) {

			&.has-#{$i}-columns--tablet {

				.ystdb-column {
					flex: 0 0 calc(#{(100% / $i)} - 2rem);
					width: calc(#{(100% / $i)} - 2rem);
				}
			}
		}
	}

	@for $i from 1 through 6 {

		@include media-breakpoint(lg) {

			&.has-#{$i}-columns--pc {

				.ystdb-column {
					flex: 0 0 calc(#{(100% / $i)} - 2rem);
					width: calc(#{(100% / $i)} - 2rem);
				}
			}
		}
	}

	&.is-vertically-aligned-center {

		.ystdb-column-block-container {
			justify-content: center;
		}
	}

	&.is-vertically-aligned-bottom {

		.ystdb-column-block-container {
			justify-content: flex-end;
		}
	}

	&.is-vertically-aligned-last {

		.ystdb-column-block-container {

			> *:nth-last-child(2) {
				flex-grow: 1;
			}
		}
	}
}
