@use "../../src/sass/global";
@use "sass:math";

@mixin column($editor:false) {

	@for $i from 1 through 6 {
		$selector: #{"&.has-"}#{$i}#{"-columns"};
		$mobile: #{$selector};
		$tablet: #{$selector}#{"--tablet"};
		$pc: #{$selector}#{"--pc"};

		@include global.media-breakpoint-only-mobile($editor) {
			#{$mobile} {

				@include column-width($i, $editor);
			}
		}

		@include global.media-breakpoint-only-tablet($editor) {
			#{$tablet} {

				@include column-width($i, $editor);
			}
		}

		@include global.media-breakpoint-only-pc($editor) {
			#{$pc} {

				@include column-width($i, $editor);
			}
		}
	}
}

@mixin column-width($i,$editor:false) {
	$width: calc(#{global.decimal-floor(math.div(1, $i) * 100,2)}#{"%"} - var(--ystdb-column-column-gap) * #{global.decimal-ceil(math.div($i - 1, $i),2)});
	$width_no_margin: #{global.decimal-floor(math.div(1, $i) * 100,2)}#{"%"};
	$column_selector: ".ystdb-column";

	@if true == $editor {
		$column_selector: "> .block-editor-inner-blocks > .block-editor-block-list__layout > .ystdb-column";
	}

	#{$column_selector} {
		flex: 0 0 $width;
		width: $width;
	}

	&.is-no-margin {
		#{$column_selector} {
			flex: 0 0 $width_no_margin;
			width: $width_no_margin;
		}
	}
}
