@use "../../src/sass/global";
@use "sass:math";
@use "mixin";
@use "deprecated/block" as columns-deprecated;
@use "item/deprecated/block" as column-deprecated;
@use "item/style" as column-front-style;

$editor: false !default;

/**
 * Columns Wrap
 */
.ystdb-columns-wrap {

	+ .ystdb-columns-wrap {
		margin-top: 0;
	}
}

/**
 * Columns
 */
.ystdb-columns {
	--ystdb-column-row-gap: 2rem;
	--ystdb-column-column-gap: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: var(--ystdb-column-row-gap) var(--ystdb-column-column-gap);

	@include mixin.column();

	&[style*="--ystdb-gap-desktop"] {

		@include global.media-breakpoint-only-pc($editor) {
			--ystdb-column-row-gap: var(--ystdb-gap-desktop);
			--ystdb-column-column-gap: var(--ystdb-gap-desktop);
		}
	}

	&[style*="--ystdb-row-gap-desktop"] {

		@include global.media-breakpoint-only-pc($editor) {
			--ystdb-column-row-gap: var(--ystdb-row-gap-desktop);
		}
	}

	&[style*="--ystdb-column-gap-desktop"] {

		@include global.media-breakpoint-only-pc($editor) {
			--ystdb-column-column-gap: var(--ystdb-column-gap-desktop);
		}
	}

	&[style*="--ystdb-gap-tablet"] {

		@include global.media-breakpoint-only-tablet($editor) {
			--ystdb-column-row-gap: var(--ystdb-gap-tablet);
			--ystdb-column-column-gap: var(--ystdb-gap-tablet);
		}
	}

	&[style*="--ystdb-row-gap-tablet"] {

		@include global.media-breakpoint-only-tablet($editor) {
			--ystdb-column-row-gap: var(--ystdb-row-gap-tablet);
		}
	}

	&[style*="--ystdb-column-gap-tablet"] {

		@include global.media-breakpoint-only-tablet($editor) {
			--ystdb-column-gap: var(--ystdb-column-gap-tablet);
		}
	}

	&[style*="--ystdb-gap-mobile"] {

		@include global.media-breakpoint-only-mobile($editor) {
			--ystdb-column-row-gap: var(--ystdb-gap-mobile);
			--ystdb-column-column-gap: var(--ystdb-gap-mobile);
		}
	}

	&[style*="--ystdb-row-gap-mobile"] {

		@include global.media-breakpoint-only-mobile($editor) {
			--ystdb-column-row-gap: var(--ystdb-row-gap-mobile);
		}
	}

	&[style*="--ystdb-column-gap-mobile"] {

		@include global.media-breakpoint-only-mobile($editor) {
			--ystdb-column-column-gap: var(--ystdb-column-gap-mobile);
		}
	}

	&.is-reverse {
		flex-direction: row-reverse;
	}

	&.is-vertically-aligned-top {

		> .ystdb-column > .ystdb-column-block-container {
			justify-content: flex-start;
		}
	}

	&.is-vertically-aligned-center {

		> .ystdb-column > .ystdb-column-block-container {
			justify-content: center;
		}
	}

	&.is-vertically-aligned-bottom {

		> .ystdb-column > .ystdb-column-block-container {
			justify-content: flex-end;
		}
	}

	&.is-vertically-aligned-last {

		> .ystdb-column > .ystdb-column-block-container {

			> *:nth-last-child(2) {
				margin-bottom: auto;
			}
		}
	}

	&.is-horizontally-aligned-center {
		justify-content: center;
	}

	&.is-horizontally-aligned-right {
		justify-content: flex-end;
	}

	&.is-horizontally-aligned-between {
		justify-content: space-between;
	}
}


/**
 * Column
 */

.ystdb-column-block-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	> * {
		margin-top: 1em;
		margin-bottom: 0;

		&:first-child {
			margin-top: 0;
		}
	}

	p:empty {
		display: none;
	}
}

.ystdb-column {
	position: relative;
	margin: 0;
	min-width: 0;

	&.has-background {
		padding: 1em;
	}

	&.has-shadow {
		box-shadow: 0 3px 15px rgba(189, 195, 199, 0.7);
	}

	&:not(.has-column-width) {

		&.is-auto-width-desktop {

			@include global.media-breakpoint-only-pc() {
				flex: 1 1 0;
			}
		}

		&.is-auto-width-tablet {

			@include global.media-breakpoint-only-tablet() {
				flex: 1 1 0;
			}
		}

		&.is-auto-width-mobile {

			@include global.media-breakpoint-only-mobile() {
				flex: 1 1 0;
			}
		}
	}
}

@include global.responsive-custom-property-component("flex-basis", $editor);
