@use "../../src/sass/global";
@use "mixin";
@use "sass:math";

/**
 * Columns
 */
.ystdb-columns {
  --ystdb-column-gap: 2rem;

  > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
	gap: var(--ystdb-column-gap);

	> [data-type="ystdb/column"] {
	  margin: 0;
	}

	> .block-list-appender {
	  flex: 0 0 calc(100%);
	  max-width: calc(100%);
	  margin-right: auto;
	  margin-left: auto;
	}

	[data-type="ystdb/column"] {
	  .ystdb-column {
		margin-right: 0;
		margin-left: 0;
		height: 100%;
	  }
	}
  }

  &.is-no-margin {
	--ystdb-column-gap: 0;
  }

  // 縦位置.
  .ystdb-column {
	height: 100%;

	> .ystdb-column-block-container {
	  height: 100%;

	  > .block-editor-inner-blocks {
		height: 100%;

		> .block-editor-block-list__layout {
		  display: flex;
		  flex-direction: column;
		  height: 100%;

		  > *:not(.block-list-appender) {
			width: 100%;
		  }
		}
	  }
	}
  }

  // 縦位置
  &.is-vertically-aligned-top {
	.ystdb-column {
	  > .ystdb-column-block-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
		justify-content: flex-start;
	  }
	}
  }

  &.is-vertically-aligned-center {
	.ystdb-column {
	  > .ystdb-column-block-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
		justify-content: center;
	  }
	}
  }

  &.is-vertically-aligned-bottom {
	.ystdb-column {
	  > .ystdb-column-block-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
		justify-content: flex-end;
	  }
	}
  }

  // 最後の要素を揃える
  &.is-vertically-aligned-last {

	.ystdb-column-block-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
	  justify-content: flex-start;

	  > *:nth-last-child(2) {
		margin-bottom: auto;
	  }
	}
  }

  // 横位置
  &.is-horizontally-aligned-center {
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
	  justify-content: center;
	}
  }

  &.is-horizontally-aligned-right {
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
	  justify-content: flex-end;
	}
  }

  &.is-horizontally-aligned-between {
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
	  justify-content: space-between;
	}
  }

  // カラム.
  @include mixin.column(true);
}


/**
 * Column.
 */
.ystdb-column {

  &.is-padding-large {
	padding: 1.5rem;
  }

  &.is-padding-small {
	padding: 1rem;
  }

  &.has-shadow {
	box-shadow: 0 3px 15px rgba(189, 195, 199, 0.7);
  }
}

.ystdb-column-block-container {
  > .block-editor-inner-blocks > .block-editor-block-list__layout {
	.wp-block {
	  margin-top: 28px;
	  margin-bottom: 0;

	  &:first-child {
		margin-top: 0;
	  }

	  &:not(:nth-last-child(2)) {
		margin-bottom: 0;
	  }
	}

	> .block-list-appender {
	  width: 100%;
	  max-width: none;
	  margin: 0;
	}
  }

  p:empty {
	display: block;
  }
}

// 画像用処理
.ystdb-column {
  // 余白大
  &.is-padding-large {

	/* 幅広画像の特別処理 5.8+ */
	.wp-block[data-align="wide"] {

	  .wp-block-image {
		margin-right: -1.5rem;
		margin-left: -1.5rem;
	  }

	  &:first-child {
		.wp-block-image {
		  margin-top: -1.5rem;
		}
	  }
	}

	/* 幅広画像の特別処理 5.7- */
	[data-type="core/image"][data-align="wide"] {

	  [data-block] {
		margin-right: -1.5rem;
		margin-left: -1.5rem;
	  }

	  &:first-child {

		.wp-block-image {
		  margin-top: -1.5rem;
		}
	  }
	}
  }

  // 余白小
  &.is-padding-small {

	/* 幅広画像の特別処理 5.8+ */
	.wp-block[data-align="wide"] {

	  .wp-block-image {
		margin-right: -1rem;
		margin-left: -1rem;
	  }

	  &:first-child {

		.wp-block-image {
		  margin-top: -1rem;
		}
	  }
	}

	/* 幅広画像の特別処理 5.7- */
	[data-type="core/image"][data-align="wide"] {

	  [data-block] {
		margin-right: -1rem;
		margin-left: -1rem;
	  }

	  &:first-child {

		.wp-block-image {
		  margin-top: -1rem;
		}
	  }
	}
  }
}
