.aktk-link-control {

	* {
		box-sizing: border-box;
	}

	.block-editor-link-control {
		min-width: auto;
	}

	.block-editor-url-input__input {
		padding-right: 24px;
	}

	.block-editor-link-control__search-actions {
		right: 3px;
	}

	.block-editor-link-control__search-item.is-current {
		padding: 0;
	}

	.block-editor-link-control__search-item-top {
		flex-wrap: wrap;
	}

	.block-editor-link-control__search-item-header {
		flex: 0 0 100% !important;
		max-width: 100%;
	}

	.block-editor-link-control__search-item-details {
		width: calc(100% - 32px);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.block-editor-link-control__field {
		margin: 0;
	}

	.block-editor-link-control__tools {
		border-top: 0;
		padding-inline: 0;
	}

	.block-editor-link-control__search-item-action {
		margin: 8px 0 0;

		&:first-of-type {
			margin-left: 32px;
		}
	}
}
