.ystdb-tab-panel {
	.components-tab-panel__tabs {
		margin-bottom: 16px;
		button {
			height: auto;
			width: 100%;
			justify-content:center;
			padding-bottom: 0.5em;
			font-size: 11px;

			&:not(.is-active) {
				border-bottom: 1px solid #ddd;
			}
		}
	}
}
