.ystd-responsive-values-unit-control {

	.components-input-control__label {
		font-size: 0.8em !important;
		color: #757575 !important;
	}
	&.components-number-control.components-unit-control {
		margin-bottom: 0;
		
		+ .components-button {
			margin-bottom: 20px;
			translate: 0 50%;
		}
	}
}
