.ystdb-inline-style-toolbar {
	position: relative;

	&::before,
	&::after {
		display: block;
		position: absolute;
	}

	&::before {
		width: 100% !important;
		top: 6px;
		left: 0 !important;
		right: auto !important;
		padding: 0.1rem 0.2rem;
		color: #222;
		font-size: 0.6rem;
		line-height: 1;
		text-align: left;
	}

	&.inline-style-1::before {
		content: "1";
	}

	&.inline-style-2::before {
		content: "2";
	}

	&.inline-style-3::before {
		content: "3";
	}

	&:not(.is-pressed) {
		color: currentcolor;
	}
	&.is-pressed {
		color: #fff;
	}
}

.ystdb-inline-style-toolbar__marker {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0.35rem;
	left: 0;
	pointer-events: none;
}
