@use "block";


.ystdb-icon__select--no-icon {
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #eeeeee;
  color: #666666 !important;
  text-align: center !important;

  svg {
	width: 32px !important;
	height: 32px !important;
  }
}

.ystdb-icon__select-start {
  .components-panel__body {
	border: 0;
  }

  .components-panel__body-title {
	display: none;
  }

  .rfipdropdown {
	left: 50%;
	transform: translateX(-50%);
  }

  .rfipbtn__icon--empty {
	white-space: nowrap;
  }
}

.ystdb-icon__link {
  .components-base-control__label {
	display: block;
	color: #666666 !important;
	font-size: 0.8em;
	text-align: left !important;
  }
}
