@use "../../src/sass/global";
@use "block";


[data-type="ystdb/svg-button"] {


	.ystdb-button__link {

		.block-editor-url-input__input[type="text"]:not(:focus) {
			border: 1px solid global.$color__border-gray-light;
		}
	}

	.ystdb-button__link-label {
		font-size: 0.8rem;
	}

	.ystdb-button__icon--left,
	.ystdb-button__icon--right {
		line-height: inherit;
	}

	.ystdb-button__link-container {
		margin-top: 1rem;
		padding: 1rem;
		text-align: left;
		background-color: global.$color__bg-gray-light;
	}

	&.is-selected {

		.ystdb-button__text {
			min-width: 3em;
		}
	}
}
