@import "block";

[data-type="ystdb/svg-button"] {
  .ystdb-button__link-label {
	font-size: 0.8rem;
  }

  .ystdb-button__icon--left,
  .ystdb-button__icon--right {
	line-height: inherit;
  }

  .ystdb-button__link-container {
	margin-top: 1rem;
	text-align: left;
  }

  &.is-selected {
	.ystdb-button__text {
	  min-width: 3em;
	}
  }
}
