@use "../global";

.ystd-blocks-menu {
	background-color: #fff;

	#wpcontent {
		background-color: #fff;
	}
}

.ystdb-menu-page {

	-webkit-text-size-adjust: 100%;
	background: #fff;
	color: global.$color__admin-menu-text;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;

	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}

	.orbitron {
		font-family: "Orbitron", sans-serif;
	}
}

.ystdb-menu__title {
	font-size: 1.4rem;
	border-bottom: 1px solid #ccc;
}
