@use "../global";

.ystdb-menu__nav {
	display: none;

	@media (min-width: 640px) {
		display: block;
		width: 160px;
	}
}

.ystdb-menu__nav-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	@media (min-width: 640px) {
		flex-direction: column;
	}
}

.ystdb-menu__nav-link {
	display: block;
	padding: 0.5em 0;
	margin-right: 1em;
	color: currentcolor;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: all 0.3s;

	&:hover {
		text-decoration: none;
		color: currentcolor;
	}

	@media (min-width: 640px) {
		margin-right: 0;
		border-bottom: 0;
		border-right: 2px solid transparent;
		font-size: 0.85rem;

		&:hover {
			border-color: global.$color__ystd_blue;
		}
	}

	&.is-active {
		border-color: global.$color__ystd_blue;
	}
}
