@use "../../../sass/global";

$editor: false;

.ystdb-column-block-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	> * {
		margin-top: 1em;
		margin-bottom: 0;

		&:first-child {
			margin-top: 0;
		}
	}

	p:empty {
		display: none;
	}
}

.ystdb-column {
	position: relative;
	margin: 0;
	min-width: 0;

	&.has-background {
		padding: 1em;
	}

	&.has-shadow {
		box-shadow: 0 3px 15px rgba(189, 195, 199, 0.7);
	}

	&:not(.has-column-width) {

		&.is-auto-width-desktop {

			@include global.media-breakpoint-only-pc() {
				flex: 1 1 0;
			}
		}

		&.is-auto-width-tablet {

			@include global.media-breakpoint-only-tablet() {
				flex: 1 1 0;
			}
		}

		&.is-auto-width-mobile {

			@include global.media-breakpoint-only-mobile() {
				flex: 1 1 0;
			}
		}
	}

	/**
   * Width.
   */
	@include global.responsive-custom-property-component-2("width", $editor);

	/**
   * height.
   */
	@include global.responsive-custom-property-component-2("height", $editor);

	/**
   * flex-basis.
   */
	@include global.responsive-custom-property-component-2("flex-basis", $editor);
}

.ystdb-column__link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	&:focus {

		.ystdb-column__link-screen-reader-text {
			top: calc(100% + 0.5em);
			left: 0;
			height: auto;
			width: auto;
			display: block;
			font-size: 12px;
			font-weight: 400;
			padding: 0.5em 1.5em;
			background: rgba(#fff, 0.2);
			color: #2271b1;
			z-index: 100000;
			line-height: normal;
			text-decoration: none;
			box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
		}
	}
}

.ystdb-column__link-screen-reader-text {
	position: absolute;
	top: -1000em;
}

