.ystdb-icon {
	svg {
		&[fill="none"] {
			fill: none;
		}

		&[fill="currentColor"] {
			fill: currentcolor;
		}

		&[stroke="none"] {
			stroke: none;
		}

		&[stroke="currentColor"] {
			stroke: currentcolor;
		}
	}

	&:where(.has-text-align-left) {
		text-align: left;
	}
	&:where(.has-text-align-center) {
		text-align: center;
	}
	&:where(.has-text-align-right) {
		text-align: right;
	}
}

.ystdb-icon__wrap {
	display: inline-flex;

	&:where(:not(.has-padding)) {
		padding: 1rem;
	}

	&:where(.is-size--2) {
		svg {
			width: 2em;
			height: 2em;
		}
	}

	&:where(.is-size--5) {
		svg {
			width: 5em;
			height: 5em;
		}
	}

	&:where(.ystdb-icon__link) {
		text-decoration: none;

		&:where(:not(.has-text-color)) {
			color: currentcolor;
			@media (hover: hover) {
				&:hover {
					color: currentcolor;
				}
			}
		}
	}
}


:where(body:not(.ystandard)) .ys-icon {
	svg {
		width: 1em;
		height: 1em;
	}
}
