@use "./style";

.ystdb-icon__select--no-icon {
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem;
	background-color: #eee;
	color: #666 !important;
	text-align: center !important;

	svg {
		width: 16px !important;
		height: 16px !important;
	}

	p {
		font-size: 10px;
	}
}

.ystdb-icon__select-start {

	.components-panel__body {
		border: 0;
	}

	.components-panel__body-title {
		display: none;
	}

	.rfipdropdown {
		left: 50%;
		transform: translateX(-50%);
	}

	.rfipbtn__icon--empty {
		white-space: nowrap;
	}
}

.ystdb-icon__link {

	min-width: 100px !important;

	.components-base-control__label {
		display: block;
		color: #666 !important;
		font-size: 0.8em;
		text-align: left !important;
	}

	input[type="text"].block-editor-url-input__input {
		border: 1px solid #757575;
	}
}
