.ystdb-icon {
	padding: 1rem;

	svg {

		&[fill="none"] {
			fill: none;
		}

		&[fill="currentColor"] {
			fill: currentcolor;
		}

		&[stroke="none"] {
			stroke: none;
		}

		&[stroke="currentColor"] {
			stroke: currentcolor;
		}
	}

	&:where(.is-size--2) {

		svg {
			width: 2em;
			height: 2em;
		}
	}

	&:where(.is-size--5) {

		svg {
			width: 5em;
			height: 5em;
		}
	}

	:where(.ystdb-icon__link) {
		color: currentcolor;
		text-decoration: none;

		@media (hover: hover) {
			&:hover {
				color: currentcolor;
			}
		}
	}
}


:where(body:not(.ystandard)) .ys-icon {
	svg {
		width: 1em;
		height: 1em;
	}
}
