.ystdb-media-upload-control {

	.ystdb-media-upload-control__select,
	.ystdb-media-upload-control__preview {
		outline: none !important;
		box-shadow: none !important;
		border: 2px solid #ddd !important;

		&:hover {
			box-shadow: none !important;
			color: currentcolor !important;
		}
	}

	.ystdb-media-upload-control__select {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
		width: 100%;
		background-color: #f1f1f1;
		color: #222;
	}

	.ystdb-media-upload-control__preview {
		height: auto;
		padding: 0;
	}

	.ystdb-media-upload-control__clear {
		display: block;
		width: 100%;
		text-align: center;
	}
}
