.ystdb-btn-link {
  position: relative;
  display: inline-block;
  border-radius: 4px; }

.ystdb-btn-link.-block {
  display: block; }

.wp-block-button .ystdb-btn-link a {
  display: block;
  background-color: transparent;
  border-color: inherit;
  color: inherit; }

.wp-block-button .ystdb-btn-link.-has-icon a {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }

.wp-block-button .ystdb-btn-link.-block.-has-icon a {
  padding-right: 3.5rem;
  padding-left: 3.5rem; }

.ystdb-btn-link__icon {
  position: absolute;
  font-size: 1.25rem;
  top: 50%;
  right: 1rem;
  transform: translateY(-58%);
  height: auto; }

.ystdb-btn-link.-block .ystdb-btn-link__icon {
  right: 2rem; }

.ystdb-btn-link img {
  position: absolute; }

.ystdb-section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }
  .ystdb-section.has-background-mask {
    background-image: none;
    background-color: transparent; }
  .ystdb-section.has-background-dim:not(.has-background) {
    background-color: #fff; }

.ystdb-section__inner {
  position: relative;
  z-index: 2; }
  .ystdb-section__inner > *:first-child {
    margin-top: 0; }
  .ystdb-section__inner > *:last-child {
    margin-bottom: 0; }

.ystdb-section__mask {
  height: 90%;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }

.ystdb-inline--1 {
  background: linear-gradient(transparent 75%, rgba(213, 57, 57, 0.5) 75%);
  background-position-y: -0.2rem; }

.ystdb-inline--2 {
  background: linear-gradient(transparent 75%, rgba(130, 185, 227, 0.5) 75%);
  background-position-y: -0.2rem; }

.ystdb-inline--3 {
  background: linear-gradient(transparent 75%, rgba(245, 236, 132, 0.5) 75%);
  background-position-y: -0.2rem; }
