@charset "UTF-8";
.ystdb-icon-select__btn-list {
  display: flex;
  flex-wrap: wrap; }
  .ystdb-icon-select__btn-list button {
    display: block;
    flex: 1 1 20%;
    max-width: 20%;
    margin-right: 0;
    margin-bottom: .25em;
    text-align: center; }
  .ystdb-icon-select__btn-list .ystdb-icon-select__custom {
    flex: 1 1 100%;
    max-width: 100%;
    margin-top: .5rem; }

.ystdb-icon-select__label {
  margin-top: 1rem; }

.ystdb-icon-select__sub {
  font-size: .9em; }

.ystdb-icon-select__clear {
  margin-top: .5rem; }

.ystdb-icon-select__position .components-radio-control__option {
  display: inline-block;
  margin-right: 1rem; }
  .ystdb-icon-select__position .components-radio-control__option:last-child {
    margin-right: 0; }
  .ystdb-icon-select__position .components-radio-control__option .components-radio-control__input {
    margin-right: .25rem; }

.ystdb-btn-selector__clear {
  margin-top: .5rem; }

.ystdb-btn-selector {
  display: flex;
  flex-wrap: wrap; }
  .ystdb-btn-selector button {
    display: block;
    margin-right: .25rem;
    margin-bottom: .25em;
    text-align: center; }

.ystdb-inspectorcontrols .components-base-control__label {
  font-weight: bold; }

.ystdb-inspectorcontrols .components-base-control__field .components-base-control__field .components-base-control__label {
  font-weight: normal; }

.ystdb-inspectorcontrols__horizontal-radio .components-radio-control__option {
  display: inline-block;
  margin-right: 1rem; }
  .ystdb-inspectorcontrols__horizontal-radio .components-radio-control__option:last-child {
    margin-right: 0; }
  .ystdb-inspectorcontrols__horizontal-radio .components-radio-control__option .components-radio-control__input {
    margin-right: .25rem; }

.ystdb-inspectorcontrols__disablecustomfont .components-range-control__number {
  display: none; }

.ystdb-mediaupload__preview {
  position: relative;
  margin-bottom: .5rem; }
  .ystdb-mediaupload__preview img {
    max-width: 100%;
    height: auto;
    border: 2px solid #bdc3c7; }

button.ystdb-mediaupload__preview::before, button.ystdb-mediaupload__preview::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: opacity .3s;
  opacity: 0; }

button.ystdb-mediaupload__preview::before {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2; }

button.ystdb-mediaupload__preview::after {
  content: "画像を変更";
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: .8rem;
  text-align: center;
  z-index: 3; }

button.ystdb-mediaupload__preview:hover::before, button.ystdb-mediaupload__preview:hover::after {
  opacity: 1; }

.ystdb-info__small {
  display: block;
  font-size: .7rem;
  color: #757575; }

.ystdb-info__label {
  display: block;
  margin: .5rem 0 .25rem; }

.ystdb-info__bold {
  font-weight: bold; }

.editor-styles-wrapper .ystdb-btn-link__preview > div:first-child .wp-block-button {
  margin-top: 0; }

.editor-styles-wrapper .ystdb-btn-link__preview .wp-block-button {
  border-radius: 4px; }
  .editor-styles-wrapper .ystdb-btn-link__preview .wp-block-button .wp-block-button__link {
    padding: 0;
    background-color: transparent; }
    .editor-styles-wrapper .ystdb-btn-link__preview .wp-block-button .wp-block-button__link a {
      background-color: transparent;
      color: inherit; }
  .editor-styles-wrapper .ystdb-btn-link__preview .wp-block-button.-lg .wp-block-button__link, .editor-styles-wrapper .ystdb-btn-link__preview .wp-block-button.-sm .wp-block-button__link {
    padding: 0; }

.editor-styles-wrapper .ystdb-section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }
  .editor-styles-wrapper .ystdb-section.has-background-mask {
    background-image: none;
    background-color: transparent; }
  .editor-styles-wrapper .ystdb-section.has-background-dim:not(.has-background) {
    background-color: #fff; }

.editor-styles-wrapper .ystdb-section__inner {
  position: relative;
  z-index: 2; }
  .editor-styles-wrapper .ystdb-section__inner > *:first-child {
    margin-top: 0; }
  .editor-styles-wrapper .ystdb-section__inner > *:last-child {
    margin-bottom: 0; }

.editor-styles-wrapper .ystdb-section__mask {
  height: 90%;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }

.editor-styles-wrapper .ystdb-section.has-background-dim:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  z-index: 1; }

.editor-styles-wrapper .ystdb-section.has-background-dim:not(.has-background) {
  background-color: #fff; }

.editor-styles-wrapper .ystdb-section.has-background-mask {
  background-image: none;
  background-color: transparent; }

.editor-styles-wrapper [data-align="full"] .ystdb-section__inner .wp-block {
  max-width: 100%; }

.editor-styles-wrapper .wp-block-button.has-custom-font-size {
  margin-top: 1.5rem; }

.editor-styles-wrapper .wp-block-button .wp-block-button__link {
  font-size: 1em; }

.editor-styles-wrapper .wp-block-button.-full {
  display: block; }
  .editor-styles-wrapper .wp-block-button.-full .wp-block-button__link {
    display: block; }

.editor-styles-wrapper .ystdb-inline-style-toolbar {
  position: relative; }
  .editor-styles-wrapper .ystdb-inline-style-toolbar::before, .editor-styles-wrapper .ystdb-inline-style-toolbar::after {
    display: block;
    position: absolute; }
  .editor-styles-wrapper .ystdb-inline-style-toolbar::before {
    top: 0;
    left: 0;
    padding: 0.1rem 0.2rem;
    font-size: 0.6rem;
    line-height: 1;
    color: #222; }
  .editor-styles-wrapper .ystdb-inline-style-toolbar.inline-style-1::before {
    content: '1'; }
  .editor-styles-wrapper .ystdb-inline-style-toolbar.inline-style-2::before {
    content: '2'; }
  .editor-styles-wrapper .ystdb-inline-style-toolbar.inline-style-3::before {
    content: '3'; }
