@use "../../../../sass/global";

.ystdb-component-preview {
	position: sticky;
	top: 50px;
	background-color: #fff;
	padding: 2em;
	margin-bottom: 1em;
	color: global.$color__admin-menu-text;
	box-shadow: 0 0 16px rgba(#000, 0.15);

	@include global.media-breakpoint(md) {
		margin-bottom: 0;
	}

	*:focus,
	*:focus-visible {
		outline: none;
	}

	&::before {
		content: "Preview";
		display: inline-block;
		position: absolute;
		top: 4px;
		left: 4px;
		font-size: 14px;
		font-weight: bold;
		line-height: 1;
		font-family: monospace;
		color: global.$color__text-light;
		opacity: 0.2;
	}
}
