.wp-block.block-editor-block-list__block {
	position: relative;
}

.ystdb-hide--sp,
.ystdb-hide--md,
.ystdb-hide--lg {
	&::before {
		content: "[ys]非表示設定あり";
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		padding: 0.25em 1em;
		background-color: $color__bg-gray-dark;
		font-size: 10px;
		text-align: center;
	}
}