.wp-block.block-editor-block-list__block {
  position: relative;
}

.ystdb-hide--sp,
.ystdb-hide--md,
.ystdb-hide--lg {
  &::before {
	content: "[ys]非表示設定あり";
	position: absolute;
	padding: .25em 1em;
	top: 0;
	right: 0;
	text-align: center;
	font-size: 10px;
	background-color: $color__bg-gray-dark;
	z-index: 2;
  }
}
