.ystdb-btn-link {
  position: relative;
  display: inline-block;
  border-radius: 4px;
}
.wp-block-button .ystdb-btn-link a {
  display: block;
  background-color: transparent;
  border-color: inherit;
  color: inherit;
}
.ystdb-btn-link img {
  position: absolute;
}