.ystdb-btn-link {
  position: relative;
  display: inline-block;
  border-radius: 4px;
}
.wp-block-button .ystdb-btn-link a {
  display: block;
  background-color: transparent;
  border-color: inherit;
  color: inherit;
}
.wp-block-button .ystdb-btn-link.-has-icon a {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.ystdb-btn-link i {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.ystdb-btn-link img {
  position: absolute;
}