@use "../../../sass/global";

.ystdb-heading__subtext-edit {
	&.ys-is-font-responsive {
		input {
			@include global.media-breakpoint-down(md) {
				font-size: var(--ys-font-mobile) !important;
			}

			@include global.media-breakpoint-between(md, lg) {
				font-size: var(--ys-font-tablet) !important;
			}

			@include global.media-breakpoint(lg) {
				font-size: var(--ys-font-desktop) !important;
			}
		}
	}
}
