.ystdb-section {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .ystdb-section__container {
	flex: 0 0 100%;
	max-width: 100%;
  }

  &.is-screen-height {
	height: 100vh;
  }

  &.has-parallax {
	background-attachment: fixed;

	@supports (-webkit-overflow-scrolling: touch) {
	  background-attachment: scroll;
	}
	@supports (-webkit-touch-callout: none) {
	  background-attachment: scroll;
	}

	@media (prefers-reduced-motion: reduce) {
	  background-attachment: scroll;
	}
  }

  &.has-animation {
	animation-duration: 1s;
	opacity: 0;

	animation-fill-mode: both;
  }

  &.animation--fadein {
	animation-name: ystdb-fadein;
  }

  &.animation--fadein-up {
	animation-name: ystdb-fadein-up;
  }

  &.animation--fadein-shrink {
	animation-name: ystdb-fadein-shrink;
  }
}

.ystdb-section__video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.ystdb-section__bg {
  position: absolute;
  z-index: 1;

  &:not(.is-custom-size) {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
}

.ystdb-section__overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ystdb-section__inner {
  position: relative;
  z-index: 2;

  > * {
	margin-top: 1.5em;
	margin-bottom: 0;

	&:first-child {
	  margin-top: 0;
	}
  }

  p:empty {
	display: none;
  }
}

.ystdb-section__divider {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  overflow: hidden;

  svg {
	display: block;
	width: 100%;
	height: auto;
	max-height: 100px;
  }
}

.ystdb-section__divider--top {
  top: -1px;
  transform: rotate(180deg);
}

.ystdb-section__divider--bottom {
  bottom: -1px;
}

.ystdb-section__divider--triangle {
  svg {
	max-width: 250px;
	margin-right: auto;
	margin-left: auto;
  }
}

@keyframes ystdb-fadein {
  from {
	opacity: 0;
  }

  to {
	opacity: 1;
  }
}

@keyframes ystdb-fadein-up {
  from {
	transform: translateY(5%);
	opacity: 0;
  }

  to {
	transform: translateY(0);
	opacity: 1;
  }
}

@keyframes ystdb-fadein-shrink {
  from {
	transform: scale(1.05, 1.05);
	opacity: 0;
  }

  to {
	transform: scale(1, 1);
	opacity: 1;
  }
}
