@use "../../src/sass/global";
@use "block";


.ystdb-section {

	.ystdb-section__inner {

		> .block-list-appender {
			position: relative;
			max-width: var(--ystd-content-default-width, 830px);
			margin-top: 1em !important;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.ystdb-section.is-container-fluid {

		.ystdb-section__inner {

			> * {
				max-width: none;
			}
		}
	}
}

[data-align="full"] {

	.ystdb-section::after {
		border-top: 1px solid rgba(global.$color__ystd_blue, 0.1);
		border-bottom: 1px solid rgba(global.$color__ystd_blue, 0.1);
	}
}

.ystdb-section__inner {

	p:empty {
		display: block;
	}
}
