:root{--toastify-color-light:#fff;--toastify-color-dark:#121212;--toastify-color-info:#3498db;--toastify-color-success:#07bc0c;--toastify-color-warning:#f1c40f;--toastify-color-error:#e74c3c;--toastify-color-transparent:hsla(0,0%,100%,.7);--toastify-icon-color-info:var(--toastify-color-info);--toastify-icon-color-success:var(--toastify-color-success);--toastify-icon-color-warning:var(--toastify-color-warning);--toastify-icon-color-error:var(--toastify-color-error);--toastify-toast-width:320px;--toastify-toast-background:#fff;--toastify-toast-min-height:64px;--toastify-toast-max-height:800px;--toastify-font-family:sans-serif;--toastify-z-index:9999;--toastify-text-color-light:#757575;--toastify-text-color-dark:#fff;--toastify-text-color-info:#fff;--toastify-text-color-success:#fff;--toastify-text-color-warning:#fff;--toastify-text-color-error:#fff;--toastify-spinner-color:#616161;--toastify-spinner-color-empty-area:#e0e0e0;--toastify-color-progress-light:linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);--toastify-color-progress-dark:#bb86fc;--toastify-color-progress-info:var(--toastify-color-info);--toastify-color-progress-success:var(--toastify-color-success);--toastify-color-progress-warning:var(--toastify-color-warning);--toastify-color-progress-error:var(--toastify-color-error)}.Toastify__toast-container{z-index:var(--toastify-z-index);-webkit-transform:translateZ(var(--toastify-z-index));position:fixed;padding:4px;width:var(--toastify-toast-width);box-sizing:border-box;color:#fff}.Toastify__toast-container--top-left{top:1em;left:1em}.Toastify__toast-container--top-center{top:1em;left:50%;transform:translateX(-50%)}.Toastify__toast-container--top-right{top:1em;right:1em}.Toastify__toast-container--bottom-left{bottom:1em;left:1em}.Toastify__toast-container--bottom-center{bottom:1em;left:50%;transform:translateX(-50%)}.Toastify__toast-container--bottom-right{bottom:1em;right:1em}@media only screen and (max-width:480px){.Toastify__toast-container{width:100vw;padding:0;left:0;margin:0}.Toastify__toast-container--top-center,.Toastify__toast-container--top-left,.Toastify__toast-container--top-right{top:0;transform:translateX(0)}.Toastify__toast-container--bottom-center,.Toastify__toast-container--bottom-left,.Toastify__toast-container--bottom-right{bottom:0;transform:translateX(0)}.Toastify__toast-container--rtl{right:0;left:auto}}.Toastify__toast{position:relative;min-height:var(--toastify-toast-min-height);box-sizing:border-box;margin-bottom:1rem;padding:8px;border-radius:4px;box-shadow:0 1px 10px 0 rgba(0,0,0,.1),0 2px 15px 0 rgba(0,0,0,.05);display:flex;justify-content:space-between;max-height:var(--toastify-toast-max-height);overflow:hidden;font-family:var(--toastify-font-family);cursor:pointer;direction:ltr}.Toastify__toast--rtl{direction:rtl}.Toastify__toast-body{margin:auto 0;flex:1 1 auto;padding:6px;display:flex;align-items:center}.Toastify__toast-icon{-webkit-margin-end:10px;margin-inline-end:10px;width:20px;flex-shrink:0;display:flex}.Toastify--animate{animation-fill-mode:both;animation-duration:.7s}.Toastify--animate-icon{animation-fill-mode:both;animation-duration:.3s}@media only screen and (max-width:480px){.Toastify__toast{margin-bottom:0;border-radius:0}}.Toastify__toast-theme--dark{background:var(--toastify-color-dark);color:var(--toastify-text-color-dark)}.Toastify__toast-theme--colored.Toastify__toast--default,.Toastify__toast-theme--light{background:var(--toastify-color-light);color:var(--toastify-text-color-light)}.Toastify__toast-theme--colored.Toastify__toast--info{color:var(--toastify-text-color-info);background:var(--toastify-color-info)}.Toastify__toast-theme--colored.Toastify__toast--success{color:var(--toastify-text-color-success);background:var(--toastify-color-success)}.Toastify__toast-theme--colored.Toastify__toast--warning{color:var(--toastify-text-color-warning);background:var(--toastify-color-warning)}.Toastify__toast-theme--colored.Toastify__toast--error{color:var(--toastify-text-color-error);background:var(--toastify-color-error)}.Toastify__progress-bar-theme--light{background:var(--toastify-color-progress-light)}.Toastify__progress-bar-theme--dark{background:var(--toastify-color-progress-dark)}.Toastify__progress-bar--info{background:var(--toastify-color-progress-info)}.Toastify__progress-bar--success{background:var(--toastify-color-progress-success)}.Toastify__progress-bar--warning{background:var(--toastify-color-progress-warning)}.Toastify__progress-bar--error{background:var(--toastify-color-progress-error)}.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error,.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning{background:var(--toastify-color-transparent)}.Toastify__close-button{color:#fff;background:transparent;outline:none;border:none;padding:0;cursor:pointer;opacity:.7;transition:.3s ease;align-self:flex-start}.Toastify__close-button--light{color:#000;opacity:.3}.Toastify__close-button>svg{fill:currentColor;height:16px;width:14px}.Toastify__close-button:focus,.Toastify__close-button:hover{opacity:1}@keyframes Toastify__trackProgress{0%{transform:scaleX(1)}to{transform:scaleX(0)}}.Toastify__progress-bar{position:absolute;bottom:0;left:0;width:100%;height:5px;z-index:var(--toastify-z-index);opacity:.7;transform-origin:left}.Toastify__progress-bar--animated{animation:Toastify__trackProgress linear 1 forwards}.Toastify__progress-bar--controlled{transition:transform .2s}.Toastify__progress-bar--rtl{right:0;left:auto;transform-origin:right}.Toastify__spinner{width:20px;height:20px;box-sizing:border-box;border:2px solid;border-radius:100%;border-color:var(--toastify-spinner-color-empty-area);border-right-color:var(--toastify-spinner-color);animation:Toastify__spin .65s linear infinite}@keyframes Toastify__bounceInRight{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(3000px,0,0)}60%{opacity:1;transform:translate3d(-25px,0,0)}75%{transform:translate3d(10px,0,0)}90%{transform:translate3d(-5px,0,0)}to{transform:none}}@keyframes Toastify__bounceOutRight{20%{opacity:1;transform:translate3d(-20px,0,0)}to{opacity:0;transform:translate3d(2000px,0,0)}}@keyframes Toastify__bounceInLeft{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(-3000px,0,0)}60%{opacity:1;transform:translate3d(25px,0,0)}75%{transform:translate3d(-10px,0,0)}90%{transform:translate3d(5px,0,0)}to{transform:none}}@keyframes Toastify__bounceOutLeft{20%{opacity:1;transform:translate3d(20px,0,0)}to{opacity:0;transform:translate3d(-2000px,0,0)}}@keyframes Toastify__bounceInUp{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(0,3000px,0)}60%{opacity:1;transform:translate3d(0,-20px,0)}75%{transform:translate3d(0,10px,0)}90%{transform:translate3d(0,-5px,0)}to{transform:translateZ(0)}}@keyframes Toastify__bounceOutUp{20%{transform:translate3d(0,-10px,0)}40%,45%{opacity:1;transform:translate3d(0,20px,0)}to{opacity:0;transform:translate3d(0,-2000px,0)}}@keyframes Toastify__bounceInDown{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(0,-3000px,0)}60%{opacity:1;transform:translate3d(0,25px,0)}75%{transform:translate3d(0,-10px,0)}90%{transform:translate3d(0,5px,0)}to{transform:none}}@keyframes Toastify__bounceOutDown{20%{transform:translate3d(0,10px,0)}40%,45%{opacity:1;transform:translate3d(0,-20px,0)}to{opacity:0;transform:translate3d(0,2000px,0)}}.Toastify__bounce-enter--bottom-left,.Toastify__bounce-enter--top-left{animation-name:Toastify__bounceInLeft}.Toastify__bounce-enter--bottom-right,.Toastify__bounce-enter--top-right{animation-name:Toastify__bounceInRight}.Toastify__bounce-enter--top-center{animation-name:Toastify__bounceInDown}.Toastify__bounce-enter--bottom-center{animation-name:Toastify__bounceInUp}.Toastify__bounce-exit--bottom-left,.Toastify__bounce-exit--top-left{animation-name:Toastify__bounceOutLeft}.Toastify__bounce-exit--bottom-right,.Toastify__bounce-exit--top-right{animation-name:Toastify__bounceOutRight}.Toastify__bounce-exit--top-center{animation-name:Toastify__bounceOutUp}.Toastify__bounce-exit--bottom-center{animation-name:Toastify__bounceOutDown}@keyframes Toastify__zoomIn{0%{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes Toastify__zoomOut{0%{opacity:1}50%{opacity:0;transform:scale3d(.3,.3,.3)}to{opacity:0}}.Toastify__zoom-enter{animation-name:Toastify__zoomIn}.Toastify__zoom-exit{animation-name:Toastify__zoomOut}@keyframes Toastify__flipIn{0%{transform:perspective(400px) rotateX(90deg);animation-timing-function:ease-in;opacity:0}40%{transform:perspective(400px) rotateX(-20deg);animation-timing-function:ease-in}60%{transform:perspective(400px) rotateX(10deg);opacity:1}80%{transform:perspective(400px) rotateX(-5deg)}to{transform:perspective(400px)}}@keyframes Toastify__flipOut{0%{transform:perspective(400px)}30%{transform:perspective(400px) rotateX(-20deg);opacity:1}to{transform:perspective(400px) rotateX(90deg);opacity:0}}.Toastify__flip-enter{animation-name:Toastify__flipIn}.Toastify__flip-exit{animation-name:Toastify__flipOut}@keyframes Toastify__slideInRight{0%{transform:translate3d(110%,0,0);visibility:visible}to{transform:translateZ(0)}}@keyframes Toastify__slideInLeft{0%{transform:translate3d(-110%,0,0);visibility:visible}to{transform:translateZ(0)}}@keyframes Toastify__slideInUp{0%{transform:translate3d(0,110%,0);visibility:visible}to{transform:translateZ(0)}}@keyframes Toastify__slideInDown{0%{transform:translate3d(0,-110%,0);visibility:visible}to{transform:translateZ(0)}}@keyframes Toastify__slideOutRight{0%{transform:translateZ(0)}to{visibility:hidden;transform:translate3d(110%,0,0)}}@keyframes Toastify__slideOutLeft{0%{transform:translateZ(0)}to{visibility:hidden;transform:translate3d(-110%,0,0)}}@keyframes Toastify__slideOutDown{0%{transform:translateZ(0)}to{visibility:hidden;transform:translate3d(0,500px,0)}}@keyframes Toastify__slideOutUp{0%{transform:translateZ(0)}to{visibility:hidden;transform:translate3d(0,-500px,0)}}.Toastify__slide-enter--bottom-left,.Toastify__slide-enter--top-left{animation-name:Toastify__slideInLeft}.Toastify__slide-enter--bottom-right,.Toastify__slide-enter--top-right{animation-name:Toastify__slideInRight}.Toastify__slide-enter--top-center{animation-name:Toastify__slideInDown}.Toastify__slide-enter--bottom-center{animation-name:Toastify__slideInUp}.Toastify__slide-exit--bottom-left,.Toastify__slide-exit--top-left{animation-name:Toastify__slideOutLeft}.Toastify__slide-exit--bottom-right,.Toastify__slide-exit--top-right{animation-name:Toastify__slideOutRight}.Toastify__slide-exit--top-center{animation-name:Toastify__slideOutUp}.Toastify__slide-exit--bottom-center{animation-name:Toastify__slideOutDown}@keyframes Toastify__spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}
.ystdb-menu-balloon__list {
  margin-top: 3em;
}
.ystdb-menu-balloon__list figure {
  margin: 0;
}

.ystdb-menu-balloon__item {
  margin-top: 1em;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.ystdb-menu-balloon__item.is-disable {
  background-color: #e9ecef;
}
.ystdb-menu-balloon__item .components-text-control__input,
.ystdb-menu-balloon__item .components-form-toggle__track {
  background-color: transparent;
}

.ystdb-menu-balloon__item-container {
  display: flex;
}

.ystdb-menu-balloon__item-sort {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ystdb-menu-balloon__item-sort .ystdb-menu-balloon__item-sort-button {
  height: auto;
  padding: 1em;
}
.ystdb-menu-balloon__item-sort .ystdb-menu-balloon__item-sort-button:first-child {
  padding-bottom: 0.5em;
}
.ystdb-menu-balloon__item-sort .ystdb-menu-balloon__item-sort-button:last-child {
  padding-top: 0.5em;
}

.ystdb-menu-balloon__item-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
}
.ystdb-menu-balloon__item-content .components-base-control__field {
  margin: 0;
}

.ystdb-menu-balloon__item-image {
  width: 40px;
  margin: 0 1rem 0 0;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 600px) {
  .ystdb-menu-balloon__item-image {
    width: 80px;
    margin-right: 2rem;
  }
}
.ystdb-menu-balloon__item-image img {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .ystdb-menu-balloon__item-image img {
    height: 80px;
    width: 80px;
  }
}

.ystdb-menu-balloon__item-name {
  width: 120px;
  margin-right: 1rem;
}
@media (min-width: 600px) {
  .ystdb-menu-balloon__item-name {
    width: 200px;
    margin-right: 2rem;
  }
}

.ystdb-menu-balloon__item-enable {
  width: 36px;
}
.ystdb-menu-balloon__item-enable .components-form-toggle {
  margin: 0 !important;
}

.ystdb-menu-balloon__update {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
@charset "UTF-8";
.ystdb-btn-selector__clear {
  margin-top: 0.5rem;
}

.ystdb-btn-selector {
  display: flex;
  flex-wrap: wrap;
}
.ystdb-btn-selector button {
  display: block;
  margin-right: 0.25rem;
  margin-bottom: 0.25em;
  text-align: center;
}

.ystdb__horizon-buttons {
  display: flex;
  width: 100%;
}
.ystdb__horizon-buttons > button {
  display: block;
  margin-right: 0;
  border-radius: 0;
  width: 100%;
  border: 1px solid var(--wp-admin-theme-color);
  box-shadow: none !important;
  text-align: center;
}
.ystdb__horizon-buttons > button:not(:last-child) {
  border-right: 0;
}
.ystdb__horizon-buttons > button:first-child {
  border-radius: 4px 0 0 4px;
}
.ystdb__horizon-buttons > button:last-child {
  border-radius: 0 4px 4px 0;
}

.ystdb-info__small {
  display: block;
  color: #757575;
  font-size: 0.7rem;
}

.ystdb-info__label {
  display: block;
  margin: 0.5rem 0 0.25rem;
}

.ystdb-info__bold {
  font-weight: 700;
}

.ystdb-responsive-range .label {
  min-width: 40px;
  font-weight: 700;
}
.ystdb-responsive-range .label:empty {
  display: none;
}
.ystdb-responsive-range .ystdb-responsive-range__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.ystdb-responsive-range .ystdb-responsive-range__toggle button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 1px solid #666;
  border-radius: 50%;
  color: #666;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
          appearance: none;
}
.ystdb-responsive-range .ystdb-responsive-range__toggle button.is-use-responsive {
  background-color: #666;
  color: #fff;
}
.ystdb-responsive-range .ystdb-responsive-range__toggle button svg {
  fill: none;
}
.ystdb-responsive-range .ystdb-responsive-range__toggle button:focus, .ystdb-responsive-range .ystdb-responsive-range__toggle button:hover {
  outline: none;
  box-shadow: none;
}
.ystdb-responsive-range .ystdb-responsive-range__toggle button .ys-icon {
  margin-bottom: -1px;
}
.ystdb-responsive-range .ystdb-responsive-range__content .components-number-control {
  flex-grow: 1;
}
.ystdb-responsive-range .ystdb-responsive-range__info {
  margin-top: 1em;
}
.ystdb-responsive-range .ystdb-responsive-range__info-label {
  font-size: 12px;
  color: #999;
}

.ystdb-inspectorcontrols .components-base-control__label {
  font-weight: 700;
}
.ystdb-inspectorcontrols .components-base-control__field .components-base-control__field .components-base-control__label {
  font-weight: 400;
}
.ystdb-inspectorcontrols .components-panel__body.is-opened > .components-panel__body {
  margin-right: -16px;
  margin-left: -16px;
}
.ystdb-inspectorcontrols .components-panel__body.is-opened > .components-panel__body:not(.is-opened) {
  margin-bottom: -16px;
}
.ystdb-inspectorcontrols .dark-focal-point-picker .components-focal-point-picker-wrapper {
  background-color: #313131;
}

.ystdb-inspectorcontrols__horizontal-radio .components-radio-control__option {
  display: inline-block;
  margin-right: 1rem;
}
.ystdb-inspectorcontrols__horizontal-radio .components-radio-control__option:last-child {
  margin-right: 0;
}
.ystdb-inspectorcontrols__horizontal-radio .components-radio-control__option .components-radio-control__input {
  margin-right: 0.25rem;
}

.ystdb-inspectorcontrols__disablecustomfont .components-range-control__number {
  display: none;
}

.ystdb-inspector-controls__label {
  margin: 2rem 0 0.25rem;
  font-weight: 700;
}
.ystdb-inspector-controls__label:first-of-type {
  margin-top: 0.5rem;
}

.ystdb-inspector-controls__dscr {
  color: #757575;
  font-size: 0.8em;
  font-weight: 400;
}
.ystdb-inspector-controls__dscr.margin-bottom {
  margin-bottom: 8px;
}

.ystdb-inspector-controls__columns {
  display: flex;
  align-items: center;
}
.ystdb-inspector-controls__columns > * {
  margin-right: 0.5em;
}
.ystdb-inspector-controls__columns > *:last-child {
  margin-right: 0;
}
.ystdb-inspector-controls__columns.has-unit-select > *:last-child {
  flex: 0 0 auto;
}
.ystdb-inspector-controls__columns .is-grow {
  flex-grow: 1;
}
.ystdb-inspector-controls__columns + .ystdb-inspector-controls__columns {
  margin-top: 0.5em;
}
.ystdb-inspector-controls__columns .components-base-control,
.ystdb-inspector-controls__columns .components-base-control__field {
  margin-bottom: 0 !important;
}

.ystdb-inspector-controls__horizon-buttons {
  display: flex;
  width: 100%;
}
.ystdb-inspector-controls__horizon-buttons.is-center {
  align-items: center;
}
.ystdb-inspector-controls__horizon-buttons > button {
  display: block;
  margin-right: 0;
  border-radius: 0;
  width: 100%;
  border: 1px solid var(--wp-admin-theme-color);
  box-shadow: none !important;
  text-align: center;
}
.ystdb-inspector-controls__horizon-buttons > button:not(:last-child) {
  border-right: 0;
}
.ystdb-inspector-controls__horizon-buttons > button:first-child {
  border-radius: 4px 0 0 4px;
}
.ystdb-inspector-controls__horizon-buttons > button:last-child {
  border-radius: 0 4px 4px 0;
}

.ystdb-url-input {
  border: 1px solid #757575;
}

.ystdb__preset-select-buttons > button {
  display: block;
  width: 100%;
  padding: 1em;
  height: auto;
  border: 1px solid var(--wp-admin-theme-color);
  box-shadow: none !important;
}
.ystdb__preset-select-buttons > button:nth-child(n+2) {
  border-top: 0;
}
.ystdb__preset-select-buttons .is-block {
  display: block;
}
.ystdb__preset-select-buttons .is-flex {
  display: flex;
}

.ystdb__design-select > button {
  display: block;
  width: 100%;
  padding: 1.5em 1em;
  margin-top: 1.5em;
  height: auto;
  border: 0;
  border-radius: 0.5em;
  outline: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0 !important;
  transition: background-color 0.3s;
}
.ystdb__design-select > button:hover, .ystdb__design-select > button:focus {
  background-color: #fafafa;
}
.ystdb__design-select .is-block {
  display: block;
}
.ystdb__design-select .is-flex {
  display: flex;
}

.ystdb-inspector-controls__toggle-list .components-toggle-control {
  margin-bottom: 8px;
}

.ystdb-premium-feature {
  padding: 1.5em;
  background-color: #fafafa;
  color: #757575;
  font-size: 0.8em;
  font-weight: 400;
}
.ystdb-premium-feature:before {
  content: "- プレミアム機能 -";
  display: block;
  margin-bottom: 1em;
  text-align: center;
  font-weight: 700;
}

.ystdb-mediaupload__preview {
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
}
.ystdb-mediaupload__preview.components-button {
  height: auto;
}
.ystdb-mediaupload__preview img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid #bdc3c7;
}
button.ystdb-mediaupload__preview::before, button.ystdb-mediaupload__preview::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: opacity 0.3s;
  opacity: 0;
}
button.ystdb-mediaupload__preview::before {
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}
button.ystdb-mediaupload__preview::after {
  content: "画像を変更";
  top: 50%;
  z-index: 3;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  transform: translateY(-50%);
}
button.ystdb-mediaupload__preview:hover::before, button.ystdb-mediaupload__preview:hover::after {
  opacity: 1;
}

.ystdb-inline-style-toolbar .components-toolbar__control.components-button.is-pressed > svg {
  color: currentColor;
}

.ystdb-component-responsive__container {
  display: flex;
}
.ystdb-component-responsive__container .ystdb-component-responsive__item {
  display: flex;
  align-items: center;
  flex: 0 0 calc(33% - .33em);
  width: calc(33% - .33em);
  margin-right: 0.5em;
}
.ystdb-component-responsive__container .ystdb-component-responsive__item:last-child {
  margin-right: 0;
}
.ystdb-component-responsive__container .ystdb-component-responsive__item svg {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
}

.ystdb-component-information-container {
  display: flex;
  align-items: center;
}
.ystdb-component-information-container .ystdb-component-information-icom {
  margin-left: 0.5em;
  color: #757575;
}

.ystdb-component-notice {
  background: #fff;
  border: 1px solid #bdc3c7;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin: 1em 0;
  padding: 0.25em 0.75em;
  color: #666;
}
.ystdb-component-notice.is-info {
  border-left-color: #07689f;
}
.ystdb-component-notice.is-success {
  border-left-color: #007660;
}
.ystdb-component-notice.is-warning {
  border-left-color: #E29E21;
}
.ystdb-component-notice.is-error {
  border-left-color: #AE3B43;
}

.ystdb-menu-component__tab {
  margin-top: 1em;
}
.ystdb-menu-component__tab .components-tab-panel__tabs {
  justify-content: center;
}
.ystdb-menu-component__tab .components-tab-panel__tab-content {
  border: 1px solid #eeeeee;
  padding: 1em;
}

.ystdb-menu-component-columns {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 640px) {
  .ystdb-menu-component-columns {
    flex-direction: row;
  }
}
.ystdb-menu-component-columns .ystdb-menu-component-columns__item {
  position: relative;
  margin-top: 1em;
}
.ystdb-menu-component-columns .ystdb-menu-component-columns__item:first-child {
  margin-top: 0;
}
@media (min-width: 640px) {
  .ystdb-menu-component-columns .ystdb-menu-component-columns__item {
    flex: 0 0 calc(50% - 0.5em);
    margin-top: 0;
    margin-right: 1em;
  }
  .ystdb-menu-component-columns .ystdb-menu-component-columns__item:last-child {
    margin-right: 0;
  }
}

.ystdb-components-section {
  margin-top: 2em;
}

.ystdb-menu .components-panel__body {
  margin-top: 32px;
  border: 1px solid #eeeeee;
}
.ystdb-menu .components-panel__body:first-child {
  margin-top: 0;
}
.ystdb-menu .components-panel__body .components-base-control {
  margin-top: 32px;
}
.ystdb-menu .components-panel__body .components-base-control:first-of-type {
  margin-top: 16px;
}
.ystdb-menu .components-panel__body .components-base-control:last-child .components-base-control__field {
  margin-bottom: 0;
}
.ystdb-menu .components-panel__body .components-base-control .components-base-control__label {
  font-weight: bold;
}
.ystdb-menu .components-panel__body .components-base-control__label + .components-base-control {
  margin-top: 0;
}
.ystdb-menu .components-panel__body-title {
  border-bottom: 1px solid #eeeeee;
}
.ystdb-menu-balloon__item-delete {
  margin-left: auto;
}
.ystdb-menu-balloon__item-delete .ystdb-menu-balloon__item-delete-button {
  height: auto;
  padding: 0.5em;
  color: #757575;
}

.ystdb-menu-balloon__delete-modal .ystdb-menu-balloon__delete-modal-image {
  margin: 0;
  text-align: center;
}
.ystdb-menu-balloon__delete-modal .ystdb-menu-balloon__delete-modal-image img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.ystdb-menu-balloon__delete-modal .ystdb-menu-balloon__delete-modal-name {
  margin: 1em 0 0;
  text-align: center;
}
.ystdb-component-admin-menu-button {
  display: block;
  width: 100%;
  font-weight: bold;
}
.ystdb-component-admin-menu-button.is-update {
  background-color: #07689f;
  color: #fff;
}
.ystdb-component-admin-menu-button.is-update:active {
  color: #fff;
}
.ystdb-component-admin-menu-button.is-cancel {
  background-color: #fff;
  color: #757575;
  border: 1px solid #bdc3c7;
  box-shadow: inset 0 0 0 1px #eeeeee;
}
.ystdb-component-admin-menu-button.is-cancel:active:not(:disabled), .ystdb-component-admin-menu-button.is-cancel:hover:not(:disabled) {
  background-color: #fff;
  border: 1px solid #bdc3c7;
  color: #757575;
  box-shadow: inset 0 0 0 1px #eeeeee;
}
.ystdb-component-admin-menu-button.is-delete {
  background-color: #fff;
  color: rgba(174, 59, 67, 0.8);
  border: 1px solid rgba(174, 59, 67, 0.8);
  box-shadow: none !important;
}
.ystdb-component-admin-menu-button.is-delete:active:not(:disabled), .ystdb-component-admin-menu-button.is-delete:hover:not(:disabled) {
  background-color: #fff;
  border: 1px solid rgba(174, 59, 67, 0.8);
  color: rgba(174, 59, 67, 0.8);
  box-shadow: none !important;
}
.ystdb-menu-balloon__avatar-media-upload {
  position: relative;
  display: block;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
}
.ystdb-menu-balloon__avatar-media-upload::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}
.ystdb-menu-balloon__avatar-media-upload img {
  display: block;
  border-radius: 50%;
}
.ystdb-menu-balloon__avatar-media-upload .ystdb-menu-balloon__avatar-media-upload-select {
  display: block;
  height: auto;
  padding: 0;
}
.ystdb-menu-balloon__avatar-media-upload .ystdb-menu-balloon__avatar-media-upload-select-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0.8em;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}
.ystdb-menu-balloon__avatar-media-upload:hover::before,
.ystdb-menu-balloon__avatar-media-upload:hover .ystdb-menu-balloon__avatar-media-upload-select-hover {
  opacity: 1;
}
.ystdb-menu-balloon .ystdb-menu-balloon__list-header {
  margin: 3em 0 0;
  font-size: 0.8em;
}
.ystdb-menu-balloon .ystdb-menu-balloon__list-header *:not(.ystdb-menu-balloon__item-content) {
  padding: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.ystdb-menu-balloon .ystdb-menu-balloon__list-header .ystdb-menu-balloon__item-content {
  padding-top: 0;
  padding-bottom: 0;
}
.ystdb-menu-balloon .ystdb-menu-balloon__list-header .ystdb-menu-balloon__item-enable {
  width: auto;
}
.ystdb-menu-balloon__add-modal .ystdb-menu-balloon__add-modal-image {
  display: flex;
  justify-content: center;
}
.ystdb-menu-balloon__add-modal img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.ystdb-menu-balloon__add-modal .ystdb-menu-balloon__add-modal-name {
  margin-top: 0.5em;
}
.ystdb-menu-balloon__add-modal .ystdb-menu-balloon__add-modal-name .components-base-control__field {
  display: flex;
  justify-content: center;
}
.ystdb-menu-balloon__add-modal .ystdb-menu-balloon__add-modal-name .components-text-control__input {
  width: auto;
  max-width: 100%;
}
.ystdb-component-message {
  display: block;
  margin: 0 0 1em;
  font-size: 0.9em;
  color: #757575;
}
.ystdb-component-message.is-error {
  color: #AE3B43;
}
.ystdb-component-message.is-warning {
  color: #E29E21;
}
.ystdb-component-message.is-info {
  color: #07689f;
}
.ystdb-component-message.is-hide {
  display: none;
}
.ystdb-component-manual-link {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 12px;
}
.ystdb-component-manual-link.is-top-right {
  height: 20px;
  margin: 0 0 -20px;
  text-align: right;
}
.ystdb-component-manual-link a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.ystdb-component-manual-link svg {
  display: block;
}

.ystdb-component-manual-link__icon {
  margin-right: 0.25em;
}

.ystdb-component-manual-link__text {
  text-decoration: underline;
}

/*# sourceMappingURL=balloon.css.map*/