@use "block" with ($editor:true);

.ystd-responsive-spacing-box-control {

	.component-box-control__label {
		font-size: 0.8em;
		color: #757575;
	}

	.components-base-control {
		margin-bottom: 0;
	}

	.components-number-control.components-unit-control {
		width: 100%;
		max-width: none;

		+ .components-range-control {
			display: none;
		}
	}
}
