@use "../../src/sass/global";
@use "block";

.is-selected {
  .ystdb-card__edit {
	background-color: global.$color__bg-gray-light;
  }
}

.ystdb-card__url-input.block-editor-url-input {
  padding: 1rem;
}

.ystdb-card__preview {
  position: relative;

  &.is-rendered {
	&::after {
	  content: "";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 2;
	}
  }

  .ystdb-card__link {
	&::after {
	  display: none;
	}
  }
}
