@import "block";

[data-type="ystdb/heading"] {
  padding-top: 28px;
  padding-bottom: 28px;
}
.ystdb-heading__subtext-edit {
  line-height: 1;
}

.ystdb-heading__subtext-textarea {
  padding-top: .25em;
  height: 1.4em !important;
  overflow: hidden !important;
  background-color: transparent;

  &:focus {
	padding: .25em;
  }
}

